    body { background-color: #E6E6FA;
        color: darkblue; }
    h1 { background-color: #123124;
        color: #E6E6FA; }
    h2 { background-color: #AEAED4;
        color: lightseagreen}
    h3 { background-color: aqua;
        color: crimson; }